@charset = "utf-8";

body{
	background: url(../images/bg.jpg);
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
}

#bottom{
	bottom: 0;
	position: fixed;
	left: 0;
	width: 100%;
}
#grid{
	display: block;
	border: none;
	width: 80%;
}
#top{
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	width: 100%;
}

.containerIE{

	display: inline-block;
	margin: 2em auto !important;
	padding: 0 !important;
	vertical-align: top;
	width: 100% !important;
}

.containerIE div{
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	display: block;
	margin: 0 auto;
	padding: 3em 2em;
	text-align: center;
	width: 75%;
}
.containerIE div h2{
	font-size: 1.3em;
}
.grids{
	display: inline-block;
	margin: 0 1em;
	vertical-align: top;
	width: 15%;
}
.grids img{
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: top;
	width: 100%;
}
.grids span{
	display: inline-block;
	font-size: 1em;
	margin: 2em 0 0 0;
	vertical-align: bottom;
}

@media screen and (max-width:  1024px){
	.containerIE div{
		padding: 2em 2em;
	}
	.containerIE div h2{
		font-size: 1.5em;
	}
	.grids{
		display: inline-block;
		margin: 0 .5em;
		vertical-align: top;
		width: 20%;
	}
	.grids img{
		display: inline-block;
		height: auto;
		max-width: 100%;
		vertical-align: top;
		width: 80%;
	}
	.grids span{
		display: inline-block;
		font-size: 1em;
		margin: 2em 0 0 0;
		vertical-align: bottom;
	}
}