body {
	font-size: 12px;
	font-family : Helvetica, Arial, sans-serif;
	color:#666;
	letter-spacing: .1px;
	line-height:16px;
	margin:20px 0px 0px 0px;
}
p {
	font-size: 12px;
	font-family : Helvetica, Arial, sans-serif;
	color:#666;
	letter-spacing: .1px;
	margin-bottom: 6px;
	margin-top: 4px;
	line-height:16px;
}
a:link {
	text-decoration:none;
	color: #808080;
}
a:visited {
	text-decoration:none;
	color:#808080;
}
a:hover {
	text-decoration:none;
	color: #666;
}
h1 {
	line-height:20px;
	font-size: 18px;
	color: #FF0000;
	margin-top: 4px;
	margin-bottom:4px;
	letter-spacing: .5px;
	text-align:left;
	font-weight:normal;
}
h2 {
	line-height:20px;
	font-size: 14px;
	color: #FF0000;
	margin-top:2px;
	margin-bottom:0;
	letter-spacing: .5px;
	text-align:left;
	font-weight:normal;
}
h3 {
	font-size:13px;
	margin-top: 6px;
	margin-bottom: 2px;
	line-height:16px;
	text-align:left;
	letter-spacing: .5px;
	font-weight:normal;
}
h4 {
	font-size:13px;
	margin:0;
	font-weight:bold;
	text-align:left;
	padding: 10px 0 5px 0;
	border-top: solid 1px #CCC;
	display:block;
}
h5 {
	font-size:12px;
	margin-top:5px;
	margin-bottom:0;
	font-weight:bold;
	text-align:left;
	color: #FF0000;
}
.espacio {
	clear: both;
	padding-bottom: 10px;
}
.sombra {
		background: url(imagenes/sombra.png) bottom  left no-repeat;
	padding:0;
	height:6px;
	margin:3px 0
	}
#container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 960px;
	margin-top:0;
}
#logos {
	height:80px;
}
#home_link {
	float: right;
	height: 78px;
	width: 350px;
}
#menu {
	font-size: 11px;
    height: 20px;
    padding: 5px 0;
}
#menu #menu_int ul {
	padding:0;
	margin:0;
}
#menu #menu_int li {
	list-style:none;
	display: inline;
	list-style-type:none;
	padding:0px 5px 0px 0px;
	margin:0px 5px 0px 0px;
	border-right:1px solid #999;
}
#menu #menu_int{
	width:500px;
	float:left;
}
#menu #buscador{
	float:right;
	width:440px;
	text-align:right;
}
#menu #buscador a{
	padding-right:10px;
	margin-right:10px;
	border-right:1px #999 solid;
}
/** Tablas **/
.titulo_tabla {
	background: #666;
	color: #FFF;
}
.gris_tabla td{
	background:#CCC;
	border-bottom: dashed 1px #989898;
}
.blanco_tabla td{
	border-bottom:dashed  1px  #989898;
}
.tablas {
	text-align: center;
	border:1px solid #CCC;
}
.celdas{
	border-right:#999 1px dotted;
	border-bottom:#999 1px dotted;
}

/** paginación **/
#pagination-flickr ul {
	border:0;
	margin:0;
	padding:0;
}
#pagination-flickr li {
	border:0;
	margin:0;
	padding:0;
	font-size:11px;
	list-style:none;
}
#pagination-flickr a {
	border:solid 1px #DDDDDD;
	margin-right:2px;
}
#pagination-flickr .previous-off, #pagination-flickr .next-off {
	color:#666666;
	display:block;
	float:left;
	padding:3px 4px;
}
#pagination-flickr .next a, #pagination-flickr .previous a {
	border:solid 1px #FFFFFF;
}
#pagination-flickr .active {
	color:#666666;
	display:block;
	float:left;
	padding:4px 6px;
}
#pagination-flickr a:link, #pagination-flickr a:visited {
	color:#FF0000;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}
#pagination-flickr a:hover {
	border:solid 1px #666666;
}

/*  ESTILOS EXTYRA  */
.rojo{
	color:#F00;
}
.negro{
	color:#000;
}
.anadir_comentario{
	font-size:10px;
}