#centrado{
	margin: 0px auto 0px auto; 		
	width: 90%;
	height: auto;	
	/*border:1px solid;*/				
}																																																																			
			
#content{													
	margin: 10px auto;	
	/*border:1px solid;	*/
}				

#encabezado{
	width:970px;
	margin:auto;							
	/*border:1px solid;*/
	padding:5px;		
	height:85px;													
}																																														
		
#encabezado #logo{
	/*border:1px solid;*/
	display:inline-block;	
	float:left;													
}												
																	
#encabezado #titulo{
	display:inline-block;
	margin:15px 5px;				
	/*border:1px solid;*/				
}

																												
#salir{															
	/*border:1px solid;*/		
	display:block;			
	margin-left:0px;				
}																					
																																																																						
														
ul.menu{
	width:970px;			
	margin:40px auto;		
	list-style: none;
	/*border:1px solid;*/
	padding-left:0px;		
}																												
										
ul.menu li{
	position: relative;
	width:100px;
	background: #F4F4F4;
	/*border:1px solid;*/
}																												

ul.menu ul{
	position:absolute; 
    left:40px;				 
    top:-1px;
    display:none;
    list-style:none;
    /*border:1px solid;	*/			 
}									
		
ul.menu li:hover > ul
{		
	display:block;
}		

ul.menu> li > ul 
{
   position:absolute;
   left:-41px;
   top:19px;
   display:none;
   list-style:none;
}								

ul.menu > li 
{		
   display:inline;
   margin-right:5px;
}									

ul.menu li a
{
	text-decoration: none;
	background: #F4F4F4;
	color: black;			
}	

a{
	text-decoration: none;
}																		
										
div.sep{
	display: block;
}				
						
#msj{		
	margin-top: 30px;	
	margin-bottom: 10px;
}														
		
#message{											
	border-style:solid;								
	border-color:#DAF2E3;			
	background-color:#16AA4F;
	color:#FFFFFF;													
	display:block;															
	margin:10px 0px;	
	font-weight: bold;
}																																																																									
										
#error{										
	background-color:#DB0D1E;
	border-style:solid;					
	border-color:#D1D1CC;		
	color:#FFFFFF;													
	display:block;
	margin:10px 0px;
	font-weight: bold;					
}															

#error p{				
	padding:0px;					
	margin:0px;				
}	
				
#add_edit_user{						
	width:970px;
	margin: 0 auto;						
}							

#add_edit_user label{
	display: inline-block;		
	width:150px;									
}						

#add_edit_user div{		
	margin:4px;								
}																						

#add_edit_user select{		
	width: 150px;
	margin-left: -4px;							
}																																																																				

.cont_left{
	float:left;
	width: 48%;
}																																													

.cont_right{		
	float:right;
	width: 48%;		
}			

#m_notificacion label{
	display: inline;			
}														
		
#usuario_programas{
	width: 400px; 
	height: 120px; 
	overflow-y: scroll;	
}																																					

.clear{
	clear: both;
}		

#bpos{						
	margin:10px;		
	text-align: center;		
}																
																
.jqgrid
{								    							
  width:970px;												
  margin: 0 auto;	
}     																																																																		
								
/**********/
#modal
{
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  filter: alpha(opacity=50);
  opacity: 0.8;
  -moz-opacity:0.8;
  -webkit-opacity:0.8;
  -o-opacity:0.8;			
  -ms-opacity:0.8;		
  background-color: #808080;
  left: 0;
  top: 0;
  overflow: auto;
}

.contenedor
{
  width: 500px;
  background: #fff;
  position: relative;
  margin: 10% auto;
  padding: 30px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  background: -moz-linear-gradient(#fff, #ccc);
  background: -webkit-gradient(linear, right bottom, right top, color-stop(1, rgb(255,255,255)), color-stop(0.57,       rgb(230,230,230)));
  text-shadow: 0 1px 0 #fff;
}

.contenedor h2 
{
  font-size: 36px;
  padding: 0 0 20px;
}

.contenedor a[href="#close"] 
{
  position: absolute;
  right: 0;
  top: 0;
  color: transparent;
}

.contenedor a[href="#close"]:focus{
  outline: none;
}				

.contenedor a[href="#close"]:after{
  content: 'X';
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 1.5em;
  padding: 1px 1px 1px 2px;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  font-weight: bold;
  background: #000;
  color: #fff;
  border: 3px solid #fff;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.contenedor a[href="#close"]:focus:after,
.contenedor a[href="#close"]:hover:after {
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
}													
/**********/

#estatus_proceso textarea{
	width:500;
}																		

.titulo_cb{				
	color:red;					
	font-size:16px;
}				

#datos_generales{	
	float:left;		
	margin-bottom:15px;		
}														

#subir_documentos{		
	float:left;															
	margin-top:-15px;			
}																																															

#datos_programa{		
	margin-bottom:15px;							
}										
						
#estatus_proceso{
	float:left;			
	margin-bottom:15px;	
}			
									
#clasificar_aspirante{
	float:right;		
	margin-right:200px;	
	display: block;			
}											
								
#comentarios{				
	float:right;		
	margin-right:150px;			
}																				
	
#button_editar{		
	clear: both;
	width:70px;								
	display:block;				
	text-align: center;	
	margin: auto;	
	background: red;									
}							

#button_editar a{		
	color: white;									
}			
			
#editar_preinscrito{				
	text-align: center	
}									
		
#button_cancelar{		
	width:70px;								
	display:inline;					
	text-align:center;	
	background:red;
	margin-right:80px;								
}																														
						
#button_cancelar a{		
	color:white;									
}																																			
																	
#button_guardar{		
	width:70px;												
	text-align:center;	
	background:red;
	color:white;	
	border:none;	
	display:inline;
	margin-left: 80px;																			
}																						




														