@charset "UTF-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:Verdana, Geneva, sans-serif;
}
.espacio{
	clear:both;
	height:15px;
}
/******** main div ********/
#main {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 955px;
	height: 100%;/*border: 1px solid #00F;*/
	/*background-color: #99F;*/
}
/******** header *********/

#header {
	position: relative;
	background-image: url(../images/header/header_background.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 140px;/*background-color: #F0F;*/
	/*border: 1px solid #009;*/
}
/******** top menu ********/

#top_menu {
	position: relative;
	width: 100%;
	height: 70px;
	background-image: url(../images/topmenu/top_menu.gif);
	float: left;
	margin-top: 42px;/*border: 1px solid #00F;*/
	z-index:100;
}
#top_menu a {
	font-size: 9pt;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	color: #FFF;
	text-decoration: none;
}
#top_menu_table {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	width: 97%;/*border: 1px solid #F00;*/
}
.vertical_divider_menu {
	width: 1px;
	background-color: #FFF;
}
#home_link {
	position: relative;
	width: 154px;
	height: 80px;
	top: 23px;
	left: 23px;
	float: left;/*border: 1px solid #00F;*/
}
#home_area {
	position: relative;
	width: 600px;
	height: 60px;
	top: 30px;
	right: 23px;
	float: right;
	color:#666;
	text-align:left;
}
/******** content *********/

#content {
	position: relative;
	width: 100%;
	/*height: 420px;*/
	height: 500px;/*border: 1px solid #C0F;*/
}
/******** table *********/

.table_header {
	background-color: #DDD;
	text-align: center;/*color: #666;
	font-size: 10pt;*/
}
.record_text {
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
.record_asterisk {
	text-align: center;
	font-size: 14pt;
}
.bg_gray {
	background-color: #EEE;
}
.bg_darkgray {
	background-color: #DDD;
}
.horizontal_divider {
	border-bottom: 1px solid #CCC;
}
.form td {
	padding-left: 10px;
}
.date_field td {
	padding-left: 0px;
}
.contenido {
	font-size: 8pt;
	color: #666;
	text-decoration: none;
}
.contenidoA {
	font-size: 8pt;
	color: #666;
	text-decoration: none;
}
.LineaVertical {
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #CCC;
}
.LineaHorizontal {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-width: thin;
	border-bottom-color: #CCC;
}
.subtitulos {
	font-size: 8pt;
	color: #D6171E;
	text-decoration: none;
}
.subtitulos a {
	color: #666;
	text-decoration: none;
}
.subtitulos a:hover {
	color: #D6171E;
	text-decoration: underline;
}
/*******estilo tooltip*******/
 .tip {
	width:200px;
	height:100px;
	padding:1px;
	position:absolute;
	z-index:100;
	visibility:hidden;
	color:#333333;
	top:20px;
	left:90px;
	background:url(../images/tooltipBG.png);
	layer-background-color:#ffffcc;
}
.tip_font {
	font-size: 10px;
	padding-left:10px;
}
h1 {
	margin:5px 0;
	padding:0;
}
h2 {
	margin:5px 0;
	padding:0;
}
p {
	letter-spacing: 0.1px;
	line-height: 18px;
	margin-bottom: 4px;
	margin-top: 6px;
}
.fecha {
	font-size:10px;
	font-style:italic;
	}